*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
html{
    height: 100%;
}
body{
    min-height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(225,70,148)
}
main{
    width: 100%;
    /* height: 100vh; */
    background-color: white;
    display: flex;
    flex-direction: column;
}
header p{
    text-align: center;
    padding: 15px;
    color: white;
    cursor: pointer;
}
.nav{
    padding: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav img{
    width: 60px;
    height: 60px;
}
.nav h2{
    padding-left: 50px;
}
.btn1{
    width: 150px;
    height: 30px;
    border: none;
    background-color: rgb(235,242,250);
    border-radius: 5px;
}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav li a{
    color: black;
    padding: 20px;
    text-decoration: none;
}
.btn2-1{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}
.btn2-2{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(0,97,174);
    border: none;
    border-radius: 5px;
}
.hero{
    margin: 10px auto;
    width: 100%;
    height: 400px;
    /* background-color: blue; */
    display: flex;
}
.hero-1{
    margin: 20px;
    width: 700px;
    height: 370px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-1 h2{ 
    /* margin: 50px; */
    padding: 20px;
    font-size: 3rem;
}
.hero-1 p{
    padding: 20px;
    font-size: 1.2rem;
}
.hero-1 button{
    font-size: 1rem;
    margin: 50px;
    width: 140px;
    height: 50px;
    color: white;
    background-color: rgb(0,97,174);
    border: none;
    cursor: pointer;
}
.hero-1 button:hover{
    background-color: rgb(32, 69, 99);
}
.hero-1 img{
    margin: 30px;
    width: 500px;
}
.companies{
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100px;
    /* background-color: pink; */
}
.companies p{
    color: black;
}
.companies img{
    margin: 10px;
    width: 80px;
    height: 40px;
}
.research{
    margin: 10px;
    width: 100%;
    height: 600px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.research h2{
    padding-top: 10px;
}
.research button{
    width: 120px;
    height: 40px;
    cursor: pointer;
}
.features{
    margin: 10px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: blueviolet; */
}
.features-1{
    margin: 10px;
    width: 98%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    /* background-color: violet; */
}
.f1{
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    /* background-color: lawngreen; */
}
.f1 img{
    width: 50px;
}
.f1 h2{
    padding: 10px;
    font-weight: bold;
}
.f1 p{
    padding: 10px;
}
.f1 button{
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(235,242,250);
    cursor: pointer;
}
.f2{
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    /* background-color: lawngreen; */
}
.f2 h2{
    padding: 10px;
    font-weight: bold;
}

.f2 button{
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(235,242,250);
}
.f3{
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    /* background-color: lawngreen; */
}
.f3 h2{
    padding: 10px;
    font-weight: bold;
}
.f3 button{
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(235,242,250);
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.features-2{
    margin: 10px;
    width: 98%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    /* background-color: violet; */
}
.authors-1-1{
    display: flex;
    margin: 10px;
    width: 100%;
    height: 500px;
    /* background-color: lightcoral; */
}
.authors-1-1 img{
    margin: 30px;
    width: 500px;
}
.authors-1{
    margin: 20px;
    padding: 10px;
   /* text-align: start; */
}
.authors-1 h2{
    text-align: center;
    font-size: 2rem;
}
.authors-1 h3{
    text-align: center;
    font-size: 1.5rem;
}
.authors-1 p{
    padding: 15px;
    /* text-align: center; */
    font-size: 1.1rem;
    text-align: left;
}
.authors-1-2{
    display: flex;
    margin: 10px;
    width: 100%;
    height: 500px;
    /* background-color: lightcoral; */
}
.authors-1-2 img{
    margin: 30px;
    width: 500px;
}
.authors-2{
    margin: 20px;
    padding: 10px;
   /* text-align: start; */
}
.authors-2 h2{
    text-align: center;
    font-size: 2rem;
}
.authors-2 h3{
    text-align: center;
    font-size: 1.5rem;
}
.authors-2 p{
    padding: 15px;
    /* text-align: center; */
    font-size: 1.1rem;
    text-align: left;
}
.authors-1-3{
    display: flex;
    margin: 10px;
    width: 100%;
    height: 500px;
    /* background-color: lightcoral; */
}
.authors-1-3 img{
    margin: 30px;
    width: 500px;
}
.authors-3{
    margin: 20px;
    padding: 10px;
   /* text-align: start; */
}
.authors-3 h2{
    text-align: center;
    font-size: 2rem;
}
.authors-3 h3{
    text-align: center;
    font-size: 1.5rem;
}
.authors-3 p{
    padding: 15px;
    /* text-align: center; */
    font-size: 1.1rem;
    text-align: left;
}
.platform{
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 600px;
    /* background-color: darkgoldenrod; */
}
.platform h2{
    margin: 20px;
    font-size: 2rem;
}
.platform button{
    margin: 10px;
    height: 30px;
    padding: 5px;
}
.platform-inside{
    margin: 10px;
    width: 100%;
    display: flex;
    height: 400px;
    /* background-color: blueviolet; */
}
.inside-1{
    margin: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 2px solid black;
    height: 350px;
    /* background-color: lightsalmon; */
}
.inside-1 img{
    margin: 10px;
    width: 300px;
    height: 210px;
}
.inside-1 p{
    font-size: 1.5rem;
    padding: 20px;
}
.inside-2{
    margin: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 2px solid black;
    height: 350px;
    /* background-color: lightsalmon; */
}
.inside-2 img{
    margin: 10px;
    width: 280px;
    height: 210px;
}
.inside-2 p{
    font-size: 1.5rem;
    padding: 20px;
}
.inside-3{
    margin: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 2px solid black;
    height: 350px;
    /* background-color: lightsalmon; */
}
.inside-3 img{
    margin: 10px;
    width: 280px;
    height: 210px;
}
.inside-3 p{
    font-size: 1.5rem;
    padding: 20px;
}
.inside-4{
    margin: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 2px solid black;
    height: 350px;
    /* background-color: lightsalmon; */
}
.inside-4 img{
    margin: 10px;
    width: 280px;
    height: 210px;
}
.inside-4 p{
    font-size: 1.5rem;
    padding: 20px;
}
.participants{
    margin: 10px;
    width: 100%;
    display: flex;
    height: 400px;
    /* background-color: darkred; */
}
.participants-1{
    margin: 10px;
    padding: 30px;
    width: 800px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    height: 380px;
    background-color: rgb(24,59,84);
}
.participants-1 h2{
    padding: 10px;
}
.participants-1 p{
    padding: 10px;
}
.participants-1 h3{
    padding: 10px;
    text-align: center;
}
.participants-1 ul{
    padding: 10px;
}
.participants-1 button{
    padding: 10px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgb(0,97,174);
    border: none;
    border-radius: 5px;

}
.participants-2{
    margin: 10px;
    width: 500px;
    height: 380px;
    /* background-color: darkmagenta; */
}
.participants-2 img{
    padding-bottom: 15px;
    width: 500px;
    height: 400px;
}
.under-platform{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 400px;
    /* background-color: blueviolet; */
}
.under-platform h2{
    margin: 50px;
    padding: 20px;
    font-size: 2.5rem;
}
.under-platform p{
    padding: 20px;
    font-size: 1.2rem;
}
.under-platform button{
    margin: 30px;
    padding: 20px;
    width: 150px;
    color: white;
    background-color: rgb(0,97,174);
    border: none;
    cursor: pointer;
}
.usability{
    margin: 10px;
    padding: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: start;
    background-color: rgb(235,242,250);
}
.usability img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.usability h2{
    padding: 10px;
    margin: 20px;
    font-size: 1.2rem;
}
.usability h3{
    padding: 10px;
}
.product{
    margin-left: 50px;
    list-style-type: none;
    padding: 20px;

}
.usability li{
    padding: 5px;
}
.method{
    margin-left: 50px;
    list-style-type: none;
    padding: 20px;

}
.resources{
    margin-left: 50px;
        list-style-type: none;
        padding: 20px;
}
footer{
    width: 100%;
    height: 60px;
    background-color: rgb(185,205,228);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
     padding: 20px;
}

footer img{
    height: 30px;
    padding: 5px;
    cursor: pointer;
}